<h1>More about Yelp</h1>
<br>
<h3><%= link_to 'Check out the reviews!', restaurants_path%></h3>
<p>Yelp features: </p>
<p>Food Near You - Find Restaurants</p>
<p>• Find the newest and hottest restaurants in your area</p>
<p>• Check the ratings to see what other people think.</p>
<br>
<p>Search for Nearby Businesses, Services, and Professionals</p>
<p>• Discover great local businesses, from hair salons to trusted doctors and movers</p>
<p>• Read millions of reviews by the Yelp community</p>
<p>• Home need repairs? Find the best rated contractors and handymen</p>
<p>• Find great deals offered by local businesses, get quotes instantly, and book appointments</p>
<br>
<p>Beauty - Pamper Yourself 
<p>• Find highly-rated salons, spas, massage therapists, and more</p>
<p>• Book appointments through Yelp at the most relaxing staycation destinations</p>
<br>
<p>• Write and read reviews</p>
<br>
<p>Find local restaurants, read expert customer reviews, and start searching for businesses near you with Yelp. </p>