<h1>Welcome!</h1>
<p>Yelp has over 135 million reviews of businesses worldwide. Whether you’re 
  looking for a new pizza place to try, a great coffee shop nearby, or you just want
  someone to listen to you complain about how terrible a restaurant really is...
  Yelp is your local guide for finding the perfect place to eat, shop, 
  drink, explore, and relax. </p>


<p><%= link_to "Want to know more about Yelp?", about_path %></p>